<header style="background-image: linear-gradient(to right, rgb(255, 117, 138),pink);
text-align: center">
    <h1>
        PRICING
    </h1>
<br>
<br>
    <p>
   *Add text about prices*
    </p>
</header>

<body style="margin-top: 100px;">
   <table style="margin-left: 40px;">
       <tr style="margin-bottom: 30px;">
           <td>
               <h3>
                 Make up  
               </h3>
               
<p>* extra info about make up *</p>

               <br>
               <div style="color: Red">
                 Style 1: R100  
               </div>
               <br>
               <div style="color: black">
                 Style 2: R200  
               </div>
               <br>
               <div style="color: green">
                 Style 3: R300  
               </div>
           </td>
            <br>

           <td>
            <h3>
              Artificial nails  
            </h3>
            
            * extra info about Artificial nails *

            <br>
            <div style="color: Red">
              Style 1: R100  
            </div>
            <br>
            <div style="color: black">
              Style 2: R200  
            </div>
            <br>
            <div style="color: green">
              Style 3: R300  
            </div>
        </td>
           
       </tr>

        <!-- <td >
               <h3>
                 Artificial nails  
               </h3>
               

               <br>
               Style 1: R100
               <br>
               Style 2: R200
               <br>
               Style 3: R300
           </td> -->


           <br>
           <br>
<tr>
     <td>
               <h3>
                Eyebrow wax 
               </h3>
               
               * extra info about Eyebrow wax *

               <br>
               <div style="color: Red">
                 Style 1: R100  
               </div>
               <br>
               <div style="color: black">
                 Style 2: R200  
               </div>
               <br>
               <div style="color: green">
                 Style 3: R300  
               </div>
           </td>
 <br>
           <td >
            <h3>
              Hair installation  
            </h3>
            
            * extra info about Hair installation *

            <br>
            <div style="color: Red">
              Style 1: R100  
            </div>
            <br>
            <div style="color: black">
              Style 2: R200  
            </div>
            <br>
            <div style="color: green">
              Style 3: R300  
            </div>
        </td>
 </tr>


 <br>
 <br>


 <tr>
    <td>
              <h3>
                Body massage 
              </h3>
              
              * extra info about Body massage *

              <br>
              <div style="color: Red">
                Style 1: R100  
              </div>
              <br>
              <div style="color: black">
                Style 2: R200  
              </div>
              <br>
              <div style="color: green">
                Style 3: R300  
              </div>
              
          </td>
<br>
          <td >
           <h3>
             Pedicure  
           </h3>
           
           * extra info about Pedicure *

           <br>
           <div style="color: Red">
             Style 1: R100  
           </div>
           <br>
           <div style="color: black">
             Style 2: R200  
           </div>
           <br>
           <div style="color: green">
             Style 3: R300  
           </div>
       </td>
</tr>
   </table>


</body>


    <footer style="background-image: linear-gradient(to right, rgb(255, 117, 138),pink);
    margin-top: 300px;">
        <p>        
        Phone: 082 656 7037
        <br>
        Email: Kruger01gmail.com
        <br>
        Facebook: makeupbynorma
    </p>
    </footer>


