<div style="text-align: center; ">
    <div>
        <img src="IMG_20200626_122655.jpg" alt="image">
        <p>
            Make up
        </p>
    
    </div>
    
    <br>
    <br>
    
    <div>
        <img src="IMG_20210115_133918 (1).jpg" alt="image">
        <p>
            Artificial nails
        </p>
    </div>
    
    <br>
    <br>
    
    <div>
        <img src="IMG_20200620_153116.jpg" alt="image">
        <p>
            Eyebrow wax
        </p>
    </div>
    
    <br>
    <br>
    
    <div>
        <img src="" alt="image">
        <p>
            Hair installation
        </p>
    </div>
    
    <br>
    <br>
    
    <div>
        <img src="" alt="image">
        <p>
            Body massage
        </p>
    </div>
    
    <br>
    <br>
    
    <div>
        <img src="IMG_20210115_133918 (1).jpg" alt="image">
        <p>
            Pedicure
        </p>
    </div>
</div>
