
<div>
    <header>
        
        <ul>
            <div style="float: right; margin-top: 10px;">
             <img src="" alt="*">   
            </div>
            
            <!-- <li>
                <a class="active">
                    Home
                </a>
            </li> -->
            <li style="margin-left: 20px;">
                <a [routerLink]="'/about'">
                    About
                </a>
            </li>
            <li>
                <a [routerLink]="'/services'">
                    Services
                </a>
            </li>
            <li>
                <a [routerLink]="'/pricing'">
                    Pricing
                </a>
            </li>
            <!-- <li>
                <a [routerLink]="'/footer'">
                    Contact
                </a>
            </li> -->
        </ul>
        
    </header>
</div>

<div style="margin-left: 40%; margin-top: 60px;
">

    <h1>
        Norma's Palour
    </h1>
    <br>
    <br>
    <h4>
        Beauty & Spa
    </h4>
</div>

<div style="margin-top: 100px;">
    <footer style="background-image: linear-gradient(to right, rgb(255, 117, 138),pink);">
        <p>        
        *PhoneIcon*: 082 656 7037
        <br>
        *EmailIcon*: Kruger01gmail.com
        <br>
        *FacebookIcon*: makeupbynorma
    </p>
    </footer>
</div>